<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GamePool Admin Page</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .navbar{
        margin-bottom:0;
        border-radius:0;
      }
    </style>
  </head>

  <body>
      <div class="container">
          <div class="jumbotron text-left">
              <div class="container">
                <h2>Welcome To GamePool Admin</h2>
              </div>
          </div>
          <%- messages('matchdetails', locals) %>
          <div id="messages">
              <% Object.keys(messages).forEach(function (type) { %>
                <!-- <% messages[type].forEach(function (message) { %> -->
                  <div class="alert alert-<%= type %>"><%= message %></div>
                <!-- <% }) %> -->
              <% }) %>
              </div>
          <p class="text-right"><a href="/" class="btn btn-default" role="button">Home</a></p>
          <div class="row">
                <div class="col-md-8">
            <form action="/match/details" method="post">
                <h2 class="page-header">Please Enter Match Details</h2>
              <div class="form-group">
                <label>Match Details</label>
                <input type="text" class="form-control" name="gamedetails" placeholder="Match Details" required autofocus>
              </div>
              <div class="form-group">
                  <label>Choose Team One</label>
                  <select name="teamone" class="form-control" required>
                        <option value="">Choose Team One</option>
                      <% for(var i=0; i<teams.length; i++) {%>
                          <option value=<%= teams[i].teamid %>><%= teams[i].name %></option>
                          <% } %>
                  </select>
                </div>
  
                <div class="form-group">
                    <label>Choose Team Two</label>
                    <select name="teamtwo" class="form-control" required>
                            <option value="">Choose Team Two</option>
                        <% for(var i=0; i<teams.length; i++) {%>
                            <option value=<%= teams[i].teamid %>><%= teams[i].name %></option>
                            <% } %>
                    </select>
                  </div>
              <div class="form-group">
                  <label>Location</label>
                  <input type="text" class="form-control" name="location" placeholder="Location" required>
              </div>
              <div class="form-group">
                  <label>Ground Name</label>
                  <input type="text" class="form-control" name="groundname" placeholder="Ground Name" required>
              </div>
              <div class="form-group">
                  <label>Match Date</label>
                  <input type="text" class="form-control" name="matchdttm" placeholder="Match Date" required>
                  <p class="help-block">Enter in dd-mm-yyyy|HRMM in IST format</p>
              </div>
             
              <button type="submit" class="btn btn-primary">Enter Match Details</button>
              </form>
              </div>
              <div class="col-md-4">
                    
                            <!-- PANELS -->
                            <div class="panel panel-primary">
                              <div class="panel-heading">
                                <h3 class="panel-title">Info about Teams</h3>
                              </div>
                              <div class="panel-body">
                                    <% for(var i=0; i<teams.length; i++) {%>
                                            <%= teams[i].teamid %> . <%= teams[i].name %> <br/>
                                            <% } %>
                              </div>
                            
                  </div>
              </div>
        </div>
  </body>
</html>
