<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ././partials/adminhead %>
    </head>
<body>
    <header>
        <div class="container">
            <% include ././partials/adminjumbo %>
        </div>
    </header>
    <main>
        <div class="container">   
            <% include ././partials/adminnav %>
          <%- messages('matchdetails', locals) %>
            <div id="messages">
              <% Object.keys(messages).forEach(function (type) { %>
                <!-- <% messages[type].forEach(function (message) { %> -->
                    <br/>
                  <div class="alert alert-<%= type %>"><%= message %></div>
                <!-- <% }) %> -->
              <% }) %>
            </div>
            <!-- <p class="text-right"><a href="/" class="btn btn-default" role="button">Home</a></p> -->
            <div style="padding-top:20px;"></div>
            <div class="row">
            <div class="col-md-8">
                <form action="/match/details" method="post">
                <h2 class="page-header">Enter Match Details</h2>
              <div class="form-group">
                <label>Match Details</label>
                <input type="text" class="form-control" name="gamedetails" placeholder="Match Details" required autofocus>
              </div>
                <div class="form-group">
                  <label>Choose Team One</label>
                  <select name="teamone" class="form-control" required>
                   
                      <% for(var i=0; i<teams.length; i++) {%>
                          <option value=<%= teams[i].teamid %>><%= teams[i].name %></option>
                          <% } %>
                  </select>
                </div>
  
                <div class="form-group">
                    <label>Choose Team Two</label>
                    <select name="teamtwo" class="form-control" required>
                        
                        <% for(var i=0; i<teams.length; i++) {%>
                            <option value=<%= teams[i].teamid %>><%= teams[i].name %></option>
                            <% } %>
                    </select>
                </div>
                <div class="form-group">
                  <label>Location</label>
                  <input type="text" class="form-control" name="location" placeholder="Location" required>
                </div>
                <div class="form-group">
                  <label>Ground Name</label>
                  <input type="text" class="form-control" name="groundname" placeholder="Ground Name" required>
                </div>
                <div class="form-group">
                  <label>Match Date</label>
                  <input type="text" class="form-control" name="matchdttm" placeholder="Match Date" required>
                  <p class="help-block">Enter in dd-mm-yyyy|HRMM in IST format</p>
                </div>
                    <button type="submit" class="btn btn-primary">Enter Match Details</button><br/>
                </form>
            </div>
            <div class="col-md-4">
                 <div style="padding-top:50px;"></div>

                 <form action="/match/update" method="post">
                 <div class="form-group">
                        <label>Choose Match to Update  <a data-toggle="tooltip" data-placement="right" title="Game Over List!"><span class="glyphicon glyphicon-info-sign"></span></a></label>
                        <select name="matchid" class="form-control" required>
                                <option value=></option>
                              <% for(var i=0; i < matches.length; i++) {%>
                                <option value=<%= matches[i].matchid %>><%= matches[i].gamedetails %></option>
                                <% } %>
                        </select>
                        
                      </div>
                      <div class="form-group">
                            <label>Is Match Over</label>
                            <select name="ismatchover" class="form-control" required>
                                    <option value=></option>
                                <option value=0>Yes</option>
                                <option value=1>No</option>
                                <option value=2>Cancelled</option>
                            </select>
                          </div>
                          <button type="submit" class="btn btn-primary">Update Match Details</button><br/>
 
                          </form>
                 <div style="padding-top:50px;"></div>
                    <!-- PANELS -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                        <h3 class="panel-title">Info about Teams</h3>
                        </div>
                        <div class="panel-body">
                            <% for(var i=1; i<teams.length; i++) {%>
                                <%= teams[i].teamid %> . <%= teams[i].name %> <br/>
                            <% } %>
                        </div>
                    </div>
            </div>
        </div>
        </div>
    </main>
    <footer>
        <% include ././partials/adminfooter %>
    </footer>
</body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function($) {
        $("#matchid").addClass("active");
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
</html>
